- st.ttest_ind
    - st.test_ind 은 양측 검정만 함
    - 그래서 확률값에서 2로 나눠줘야 함
    - equal_var=False 면 등분산이 아니라는 것
    - p값을 보고 기각을 할지 말지 결정

- 분산 추정
    - 그룹이 하나면 카이제곱
    - 그룹이 두개면 F분포 (python에는 F분포 함수 지원 안함)
    - ppf에는 1에서 -alpha한 값 넣어줘야 함
    - F분포에서 역수를 취하면 자유도 순서를 바꿔줘야 함
    - 대립가설이 양측일떄는 cdf함수에서는 2를 곱해줘야 한다.

In [1]:
import numpy as np
import scipy.stats as st

In [18]:
a = st.bernoulli.rvs(0.5, size=10)
np.mean(a)

0.6

In [19]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [20]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [21]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [22]:
tips.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [23]:
tips.smoker.count()

244

In [32]:
(tips['smoker'] == 'No').sum()

151