In [90]:
import pandas.io.sql as sql
from sqlalchemy import create_engine

In [91]:
engine = create_engine('mysql+pymysql://ds2rdb:ds2ds2@localhost:3306/', 
                       encoding='utf-8')
con = engine.connect()
con.execution_options(autocommit=True)

In [92]:
import pandas as pd

## 1. 데이터 파악하기

In [93]:
df_match = pd.read_csv('./match_info.csv')
df_match.head(5) # head()를 사용하면 지정한 숫자만큼의 줄을 볼 수 있음

,aud_capacity,away_country_name,away_penalty_score,away_player_gk,away_team_score,away_win_lose,city_abbr,decided_by,goal_score,home_country_name,...,home_team_score,home_win_lose,match_no,play_date,play_stage,plr_of_match,referee_name,stop1_sec,stop2_sec,venue_name
0,80100,Romania,NaN,160348,1,lose,Saint-Denis,Normal,2-1,France,...,2,win,1,2016-06-11,Group,160154,Viktor Kassai,131,242,Stade de France
1,58585,Italy,NaN,160231,2,win,Lyon,Normal,0-2,Belgium,...,0,lose,10,2016-06-14,Group,160244,Mark Clattenburg,63,189,Stade de Lyon
2,42115,Hungary,NaN,160187,2,win,Bordeaux,Normal,0-2,Austria,...,0,lose,11,2016-06-14,Group,160197,Clement Turpin,61,305,Stade de Bordeaux
3,42000,Portugal,NaN,160302,1,drawn,Saint-Etienne,Normal,1-1,Iceland,...,1,drawn,12,2016-06-15,Group,160320,Cuneyt Cakir,15,284,Stade Geoffroy Guichard
4,49822,Slovakia,NaN,160392,2,win,Lille,Normal,1-2,Russia,...,1,lose,13,2016-06-15,Group,160405,Damir Skomina,62,189,Stade Pierre Mauroy

In [94]:
df_match.columns # 컬럼

Index(['aud_capacity', 'away_country_name', 'away_penalty_score',
       'away_player_gk', 'away_team_score', 'away_win_lose', 'city_abbr',
       'decided_by', 'goal_score', 'home_country_name', 'home_penalty_score',
       'home_player_gk', 'home_team_score', 'home_win_lose', 'match_no',
       'play_date', 'play_stage', 'plr_of_match', 'referee_name', 'stop1_sec',
       'stop2_sec', 'venue_name'],
      dtype='object')

#### 람다 함수

In [95]:
# col = home
list(filter(lambda x: x.find('home') >= 0, df_match.columns))

['home_country_name',
 'home_penalty_score',
 'home_player_gk',
 'home_team_score',
 'home_win_lose']

In [96]:
# col = away
list(filter(lambda x: x.find('away') >= 0, df_match.columns))

['away_country_name',
 'away_penalty_score',
 'away_player_gk',
 'away_team_score',
 'away_win_lose']

In [97]:
list(filter(lambda x: (x.find('away') < 0) and (x.find('home')<0), 
            df_match.columns))

['aud_capacity',
 'city_abbr',
 'decided_by',
 'goal_score',
 'match_no',
 'play_date',
 'play_stage',
 'plr_of_match',
 'referee_name',
 'stop1_sec',
 'stop2_sec',
 'venue_name']

## 2. DB 디자인하기
- 고려사항
  - attributes간의 관계
  - 효율적인 데이터 처리
  - 데이터의 일관성 유지

### 2-1. Venue 관련 정보들

In [98]:
df_venue = df_match[['venue_name', 'city_abbr', 'aud_capacity']]
df_venue.head()

                venue_name      city_abbr  aud_capacity
0          Stade de France    Saint-Denis         80100
1            Stade de Lyon           Lyon         58585
2        Stade de Bordeaux       Bordeaux         42115
3  Stade Geoffroy Guichard  Saint-Etienne         42000
4      Stade Pierre Mauroy          Lille         49822

In [99]:
df_venue.shape # 매트릭스 사이즈

(51, 3)

In [100]:
print(len(df_venue.venue_name))
print(len(df_venue.venue_name.unique()))

51
10

In [101]:
len(df_venue.city_abbr.unique())

10

In [102]:
df_venue.drop_duplicates(inplace=True)
df_venue.shape

C:\Users\DS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

(10, 3)

In [103]:
df_venue

                 venue_name      city_abbr  aud_capacity
0           Stade de France    Saint-Denis         80100
1             Stade de Lyon           Lyon         58585
2         Stade de Bordeaux       Bordeaux         42115
3   Stade Geoffroy Guichard  Saint-Etienne         42000
4       Stade Pierre Mauroy          Lille         49822
5          Parc des Princes          Paris         47294
6           Stade VElodrome      Marseille         64354
7    Stade Bollaert-Delelis           Lens         38223
10      Stadium de Toulouse       Toulouse         33150
13            Stade de Nice           Nice         35624

### reset index

In [104]:
df_venue.reset_index(drop=True, inplace=True) # reset_index: 기존 index drop하고 새로 설정
df_venue

                venue_name      city_abbr  aud_capacity
0          Stade de France    Saint-Denis         80100
1            Stade de Lyon           Lyon         58585
2        Stade de Bordeaux       Bordeaux         42115
3  Stade Geoffroy Guichard  Saint-Etienne         42000
4      Stade Pierre Mauroy          Lille         49822
5         Parc des Princes          Paris         47294
6          Stade VElodrome      Marseille         64354
7   Stade Bollaert-Delelis           Lens         38223
8      Stadium de Toulouse       Toulouse         33150
9            Stade de Nice           Nice         35624

### index 추가

In [105]:
df_venue['venue_id'] = df_venue.index
df_venue

C:\Users\DS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                venue_name      city_abbr  aud_capacity  venue_id
0          Stade de France    Saint-Denis         80100         0
1            Stade de Lyon           Lyon         58585         1
2        Stade de Bordeaux       Bordeaux         42115         2
3  Stade Geoffroy Guichard  Saint-Etienne         42000         3
4      Stade Pierre Mauroy          Lille         49822         4
5         Parc des Princes          Paris         47294         5
6          Stade VElodrome      Marseille         64354         6
7   Stade Bollaert-Delelis           Lens         38223         7
8      Stadium de Toulouse       Toulouse         33150         8
9            Stade de Nice           Nice         35624         9

### row의 string 크기 확인

In [106]:
df_venue.dtypes

venue_name      object
city_abbr       object
aud_capacity     int64
venue_id         int64
dtype: object

In [107]:
# venue_name string 크기 확인
print(df_venue.venue_name.str.len())
print(df_venue.venue_name.str.len().max())

0    15
1    13
2    17
3    23
4    19
5    16
6    15
7    22
8    19
9    13
Name: venue_name, dtype: int64
23

In [108]:
df_venue.city_abbr.str.len().max()

13

## DB 연결

In [109]:
import pandas.io.sql as sql
from sqlalchemy import create_engine

In [110]:
engine = create_engine('mysql+pymysql://ds2rdb:ds2ds2@localhost:3306/',
                      encoding='utf-8') # DB 지정하지 않고 connect
con = engine.connect()

In [111]:
con.execution_options(autocommit=True) # 자동으로 commit하게 설정

In [112]:
con.execute('create database euro_match')

In [113]:
con.execute('use euro_match')

In [114]:
import sqlalchemy as sc

In [115]:
df_venue.to_sql('venues', con, if_exists='replace', index=False,
               dtype={'venue_id': sc.types.INTEGER(),
                     'venue_name': sc.types.VARCHAR(length=30),
                     'city_abbr': sc.types.VARCHAR(length=15),
                     'aud_capacity': sc.types.INTEGER()})

In [116]:
con.execute('ALTER TABLE venues ADD PRIMARY KEY (venue_id);')

# 190805

In [117]:
df_ref = df_match[['referee_name']]
df_ref.shape

(51, 1)

In [118]:
df_ref.referee_name.unique()# unique

array(['Viktor Kassai', 'Mark Clattenburg', 'Clement Turpin',
       'Cuneyt Cakir', 'Damir Skomina', 'Sergei Karasev',
       'William Collum', 'Felix Brych', 'Pavel Kralovec', 'Bjorn Kuipers',
       'Carlos Velasco Carballo', 'Milorad Mazic', 'Nicola Rizzoli',
       'Jonas Eriksson', 'Svein Oddvar Moen', 'Szymon Marciniak',
       'Martin Atkinson', 'Ovidiu Hategan'], dtype=object)

In [119]:
df_ref.drop_duplicates(inplace=True)
df_ref = df_ref.reset_index(drop=True)

C:\Users\DS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [120]:
df_ref.head()

       referee_name
0     Viktor Kassai
1  Mark Clattenburg
2    Clement Turpin
3      Cuneyt Cakir
4     Damir Skomina

In [121]:
df_ref['ref_id'] = df_ref.index
df_ref

               referee_name  ref_id
0             Viktor Kassai       0
1          Mark Clattenburg       1
2            Clement Turpin       2
3              Cuneyt Cakir       3
4             Damir Skomina       4
5            Sergei Karasev       5
6            William Collum       6
7               Felix Brych       7
8            Pavel Kralovec       8
9             Bjorn Kuipers       9
10  Carlos Velasco Carballo      10
11            Milorad Mazic      11
12           Nicola Rizzoli      12
13           Jonas Eriksson      13
14        Svein Oddvar Moen      14
15         Szymon Marciniak      15
16          Martin Atkinson      16
17           Ovidiu Hategan      17

In [122]:
df_ref.referee_name.str.len().max()

23

In [123]:
df_ref.to_sql('referees', con, if_exists='replace', index=False,
             dtype={'ref_id': sc.types.INTEGER(),
                 'referee_name': sc.types.VARCHAR(length=30)})
con.execute('ALTER TABLE referees ADD PRIMARY KEY (ref_id);')

## 3. Games

In [124]:
game_cols = list(filter(lambda x: (x.find('away') < 0) and (x.find('home')<0), df_match.columns))

In [125]:
game_cols

['aud_capacity',
 'city_abbr',
 'decided_by',
 'goal_score',
 'match_no',
 'play_date',
 'play_stage',
 'plr_of_match',
 'referee_name',
 'stop1_sec',
 'stop2_sec',
 'venue_name']

In [126]:
# 불필요한 컬럼 제거
game_cols.remove('city_abbr')
game_cols.remove('aud_capacity')
game_cols

['decided_by',
 'goal_score',
 'match_no',
 'play_date',
 'play_stage',
 'plr_of_match',
 'referee_name',
 'stop1_sec',
 'stop2_sec',
 'venue_name']

In [127]:
df_game = df_match[game_cols]
df_game.head()

,decided_by,goal_score,match_no,play_date,play_stage,plr_of_match,referee_name,stop1_sec,stop2_sec,venue_name
0,Normal,2-1,1,2016-06-11,Group,160154,Viktor Kassai,131,242,Stade de France
1,Normal,0-2,10,2016-06-14,Group,160244,Mark Clattenburg,63,189,Stade de Lyon
2,Normal,0-2,11,2016-06-14,Group,160197,Clement Turpin,61,305,Stade de Bordeaux
3,Normal,1-1,12,2016-06-15,Group,160320,Cuneyt Cakir,15,284,Stade Geoffroy Guichard
4,Normal,1-2,13,2016-06-15,Group,160405,Damir Skomina,62,189,Stade Pierre Mauroy

In [128]:
df_game.shape

(51, 10)

In [129]:
# venue_name을 기반으로 venue_id
df_game = pd.merge(df_game, df_venue, on='venue_name')
df_game.head(10)

,decided_by,goal_score,match_no,play_date,play_stage,plr_of_match,referee_name,stop1_sec,stop2_sec,venue_name,city_abbr,aud_capacity,venue_id
0,Normal,2-1,1,2016-06-11,Group,160154,Viktor Kassai,131,242,Stade de France,Saint-Denis,80100,0
1,Normal,0-0,18,2016-06-17,Group,160165,Bjorn Kuipers,6,208,Stade de France,Saint-Denis,80100,0
2,Normal,2-1,33,2016-06-22,Group,160220,Szymon Marciniak,7,244,Stade de France,Saint-Denis,80100,0
3,Normal,2-0,43,2016-06-27,Round,160235,Cuneyt Cakir,63,243,Stade de France,Saint-Denis,80100,0
4,Normal,5-2,48,2016-07-04,Quarter Final,160159,Bjorn Kuipers,16,125,Stade de France,Saint-Denis,80100,0
5,Normal,1-0,51,2016-07-11,Final,160307,Mark Clattenburg,161,181,Stade de France,Saint-Denis,80100,0
6,Normal,1-1,9,2016-06-13,Group,160335,Milorad Mazic,67,194,Stade de France,Saint-Denis,80100,0
7,Normal,0-2,10,2016-06-14,Group,160244,Mark Clattenburg,63,189,Stade de Lyon,Lyon,58585,1
8,Normal,0-2,17,2016-06-16,Group,160262,Pavel Kralovec,7,411,Stade de Lyon,Lyon,58585,1
9,Normal,0-1,25,2016-06-20,Group,160005,Pavel Kralovec,125,328,Stade de Lyon,Lyon,58585,1

In [130]:
df_game.shape

(51, 13)

In [131]:
df_game = df_game.drop(['venue_name', 'city_abbr', 'aud_capacity'], axis=1)
df_game.head()

,decided_by,goal_score,match_no,play_date,play_stage,plr_of_match,referee_name,stop1_sec,stop2_sec,venue_id
0,Normal,2-1,1,2016-06-11,Group,160154,Viktor Kassai,131,242,0
1,Normal,0-0,18,2016-06-17,Group,160165,Bjorn Kuipers,6,208,0
2,Normal,2-1,33,2016-06-22,Group,160220,Szymon Marciniak,7,244,0
3,Normal,2-0,43,2016-06-27,Round,160235,Cuneyt Cakir,63,243,0
4,Normal,5-2,48,2016-07-04,Quarter Final,160159,Bjorn Kuipers,16,125,0

In [132]:
# referee_name 기반으로 ref_id
df_game = pd.merge(df_game, df_ref, on='referee_name')
df_game.head(10)

,decided_by,goal_score,match_no,play_date,play_stage,plr_of_match,referee_name,stop1_sec,stop2_sec,venue_id,ref_id
0,Normal,2-1,1,2016-06-11,Group,160154,Viktor Kassai,131,242,0,0
1,Penalty,1-1,47,2016-07-03,Quarter Final,160163,Viktor Kassai,63,181,2,0
2,Normal,1-0,19,2016-06-17,Group,160248,Viktor Kassai,2,264,8,0
3,Normal,0-0,18,2016-06-17,Group,160165,Bjorn Kuipers,6,208,0,9
4,Normal,5-2,48,2016-07-04,Quarter Final,160159,Bjorn Kuipers,16,125,0,9
5,Normal,2-1,32,2016-06-22,Group,160085,Bjorn Kuipers,70,282,2,9
6,Normal,2-1,33,2016-06-22,Group,160220,Szymon Marciniak,7,244,0,15
7,Normal,3-0,41,2016-06-26,Round,160173,Szymon Marciniak,62,124,4,15
8,Normal,1-0,8,2016-06-13,Group,160429,Szymon Marciniak,360,182,8,15
9,Normal,2-0,43,2016-06-27,Round,160235,Cuneyt Cakir,63,243,0,3

In [133]:
df_game = df_game.drop(['referee_name'], axis=1)
df_game.head()

,decided_by,goal_score,match_no,play_date,play_stage,plr_of_match,stop1_sec,stop2_sec,venue_id,ref_id
0,Normal,2-1,1,2016-06-11,Group,160154,131,242,0,0
1,Penalty,1-1,47,2016-07-03,Quarter Final,160163,63,181,2,0
2,Normal,1-0,19,2016-06-17,Group,160248,2,264,8,0
3,Normal,0-0,18,2016-06-17,Group,160165,6,208,0,9
4,Normal,5-2,48,2016-07-04,Quarter Final,160159,16,125,0,9

In [134]:
df_game.shape

(51, 10)

In [135]:
len(df_game.match_no.unique())

51

In [136]:
df_game.set_index('match_no')

,decided_by,goal_score,play_date,play_stage,plr_of_match,stop1_sec,stop2_sec,venue_id,ref_id
match_no,,,,,,,,,
1,Normal,2-1,2016-06-11,Group,160154,131,242,0,0
47,Penalty,1-1,2016-07-03,Quarter Final,160163,63,181,2,0
19,Normal,1-0,2016-06-17,Group,160248,2,264,8,0
18,Normal,0-0,2016-06-17,Group,160165,6,208,0,9
48,Normal,5-2,2016-07-04,Quarter Final,160159,16,125,0,9
32,Normal,2-1,2016-06-22,Group,160085,70,282,2,9
33,Normal,2-1,2016-06-22,Group,160220,7,244,0,15
41,Normal,3-0,2016-06-26,Round,160173,62,124,4,15
8,Normal,1-0,2016-06-13,Group,160429,360,182,8,15
43,Normal,2-0,2016-06-27,Round,160235,63,243,0,3
22,Normal,3-0,2016-06-18,Group,160064,11,180,2,3
12,Normal,1-1,2016-06-15,Group,160320,15,284,3,3
51,Normal,1-0,2016-07-11,Final,160307,161,181,0,1
10,Normal,0-2,2016-06-14,Group,160244,63,189,1,1
20,Normal,2-2,2016-06-17,Group,160086,71,280,3,1
37,Penalty,1-1,2016-06-25,Round,160476,126,243,3,1
9,Normal,1-1,2016-06-13,Group,160335,67,194,0,11
42,Normal,0-4,2016-06-27,Round,160062,3,133,8,11
21,Normal,3-0,2016-06-18,Group,160429,84,120,9,11
17,Normal,0-2,2016-06-16,Group,160262,7,411,1,8
25,Normal,0-1,2016-06-20,Group,160005,125,328,1,8
34,Normal,3-3,2016-06-22,Group,160322,70,185,1,16
7,Normal,2-0,2016-06-13,Group,160176,89,188,4,16
38,Normal,1-0,2016-06-25,Round,160547,5,245,5,16
40,Normal,2-1,2016-06-26,Round,160160,238,203,1,12
24,Normal,0-0,2016-06-19,Group,160314,3,200,5,12
4,Normal,1-1,2016-06-12,Group,160128,0,185,6,12
50,Normal,2-0,2016-07-08,NaN,160160,126,275,6,12
49,Normal,2-0,2016-07-07,NaN,160322,2,181,1,13
5,Normal,0-1,2016-06-12,Group,160084,125,325,5,13
27,Normal,0-3,2016-06-21,Group,160544,62,119,8,13
11,Normal,0-2,2016-06-14,Group,160197,61,305,2,2
30,Normal,0-1,2016-06-21,Group,160177,21,195,5,2
3,Normal,2-1,2016-06-11,Group,160540,64,268,2,14
29,Normal,0-1,2016-06-21,Group,160520,29,244,6,14
28,Normal,0-0,2016-06-21,Group,160392,62,301,3,10
2,Normal,0-1,2016-06-11,Group,160476,61,182,7,10
39,Normal,0-1,2016-06-26,Round,160316,61,198,7,10
13,Normal,1-2,2016-06-15,Group,160405,62,189,4,4
26,Normal,0-0,2016-06-20,Group,160463,60,122,4,4
46,Normal,3-1,2016-07-02,Quarter Final,160550,14,182,4,4
44,Normal,1-2,2016-06-28,Round,160217,5,199,9,4
35,Normal,0-1,2016-06-23,Group,160333,79,221,4,17
6,Normal,1-0,2016-06-12,Group,160291,2,246,9,17
14,Normal,1-1,2016-06-15,Group,160477,74,206,5,5
23,Normal,1-1,2016-06-18,Group,160230,61,280,6,5
15,Normal,2-0,2016-06-16,Group,160154,71,374,6,6
31,Normal,0-2,2016-06-22,Group,160504,60,300,7,6
45,Penalty,1-1,2016-07-01,Quarter Final,160316,58,181,6,7
16,Normal,2-1,2016-06-16,Group,160540,62,212,7,7
36,Normal,0-1,2016-06-23,Group,160062,63,195,9,7

In [137]:
df_game.columns

Index(['decided_by', 'goal_score', 'match_no', 'play_date', 'play_stage',
       'plr_of_match', 'stop1_sec', 'stop2_sec', 'venue_id', 'ref_id'],
      dtype='object')

In [138]:
df_game.decided_by.str.len().max()

7

In [139]:
df_game.goal_score.str.len().max()

3

In [140]:
df_game.play_stage.str.len().max()

13.0

In [141]:
df_game.play_date.head()

0    2016-06-11
1    2016-07-03
2    2016-06-17
3    2016-06-17
4    2016-07-04
Name: play_date, dtype: object

In [142]:
df_game.to_sql('games', con, if_exists='replace', index=False,
               dtype={'match_no' : sc.types.INTEGER(),
                     'decided_by': sc.types.VARCHAR(length=10),
                     'goal_score': sc.types.VARCHAR(length=5),
                     'play_stage': sc.types.VARCHAR(length=15),
                     'plr_of_match': sc.types.INTEGER(),
                     'stop1_sec': sc.types.INTEGER(),
                     'stop2_sec': sc.types.INTEGER(), 
                     'venue_id': sc.types.INTEGER(),
                     'ref_id': sc.types.INTEGER(),                      
                     'play_date': sc.types.DATE()})

In [143]:
con.execute('ALTER TABLE games ADD PRIMARY KEY (match_no);')

In [144]:
con.execute('ALTER TABLE games ADD FOREIGN KEY (venue_id) REFERENCES venues(venue_id);')

In [145]:
con.execute('ALTER TABLE games ADD FOREIGN KEY (ref_id) REFERENCES referees(ref_id);')

# 190806

In [146]:
df_match = pd.read_csv('./match_info.csv')
df_match.head()

,aud_capacity,away_country_name,away_penalty_score,away_player_gk,away_team_score,away_win_lose,city_abbr,decided_by,goal_score,home_country_name,...,home_team_score,home_win_lose,match_no,play_date,play_stage,plr_of_match,referee_name,stop1_sec,stop2_sec,venue_name
0,80100,Romania,NaN,160348,1,lose,Saint-Denis,Normal,2-1,France,...,2,win,1,2016-06-11,Group,160154,Viktor Kassai,131,242,Stade de France
1,58585,Italy,NaN,160231,2,win,Lyon,Normal,0-2,Belgium,...,0,lose,10,2016-06-14,Group,160244,Mark Clattenburg,63,189,Stade de Lyon
2,42115,Hungary,NaN,160187,2,win,Bordeaux,Normal,0-2,Austria,...,0,lose,11,2016-06-14,Group,160197,Clement Turpin,61,305,Stade de Bordeaux
3,42000,Portugal,NaN,160302,1,drawn,Saint-Etienne,Normal,1-1,Iceland,...,1,drawn,12,2016-06-15,Group,160320,Cuneyt Cakir,15,284,Stade Geoffroy Guichard
4,49822,Slovakia,NaN,160392,2,win,Lille,Normal,1-2,Russia,...,1,lose,13,2016-06-15,Group,160405,Damir Skomina,62,189,Stade Pierre Mauroy

### Home team, away team 컬럼값 비교

In [147]:
home_col = list(filter(lambda x: x.find('home') >= 0, df_match.columns))
home_col.append('match_no')
home_col
# match_no필요!!

['home_country_name',
 'home_penalty_score',
 'home_player_gk',
 'home_team_score',
 'home_win_lose',
 'match_no']

In [148]:
away_col = list(filter(lambda x: x.find('away') >= 0, df_match.columns))
away_col.append('match_no')
away_col

['away_country_name',
 'away_penalty_score',
 'away_player_gk',
 'away_team_score',
 'away_win_lose',
 'match_no']

### 1. Home Team 관련 정보

In [149]:
df_home = df_match[home_col]
df_home.head()

,home_country_name,home_penalty_score,home_player_gk,home_team_score,home_win_lose,match_no
0,France,NaN,160140,2,win,1
1,Belgium,NaN,160047,0,lose,10
2,Austria,NaN,160024,0,lose,11
3,Iceland,NaN,160208,1,drawn,12
4,Russia,NaN,160369,1,lose,13

#### Home인지 Away인지 알려주는 컬럼 추가

In [150]:
#home_away 컬럼 추가
df_home['home_away'] = 'home'
df_home.head()

C:\Users\DS\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,home_country_name,home_penalty_score,home_player_gk,home_team_score,home_win_lose,match_no,home_away
0,France,NaN,160140,2,win,1,home
1,Belgium,NaN,160047,0,lose,10,home
2,Austria,NaN,160024,0,lose,11,home
3,Iceland,NaN,160208,1,drawn,12,home
4,Russia,NaN,160369,1,lose,13,home

### 2. Away Team 관련 정보

In [151]:
df_away = df_match[away_col]
df_away.head()

,away_country_name,away_penalty_score,away_player_gk,away_team_score,away_win_lose,match_no
0,Romania,NaN,160348,1,lose,1
1,Italy,NaN,160231,2,win,10
2,Hungary,NaN,160187,2,win,11
3,Portugal,NaN,160302,1,drawn,12
4,Slovakia,NaN,160392,2,win,13

In [152]:
#home_away 컬럼 추가
df_away['home_away'] = 'away'
df_away.head()

C:\Users\DS\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,away_country_name,away_penalty_score,away_player_gk,away_team_score,away_win_lose,match_no,home_away
0,Romania,NaN,160348,1,lose,1,away
1,Italy,NaN,160231,2,win,10,away
2,Hungary,NaN,160187,2,win,11,away
3,Portugal,NaN,160302,1,drawn,12,away
4,Slovakia,NaN,160392,2,win,13,away

### 3. 두 dataframe을 합치기 위해 컬럼명을 통일
- 두 테이블을 합치기 전에 컬럼 이름 변경

In [153]:
df_home = df_home.rename(columns={'home_country_name':'country_name',
                                  'home_team_score':'team_score',
                                   'home_penalty_score':'penalty_score',
                                   'home_player_gk':'player_gk',
                                   'home_win_lose':'win_lose'})
df_away = df_away.rename(columns={'away_country_name':'country_name',
                                  'away_team_score':'team_score',
                                   'away_penalty_score':'penalty_score',
                                   'away_player_gk':'player_gk',
                                   'away_win_lose':'win_lose'})

In [154]:
df_home.columns

Index(['country_name', 'penalty_score', 'player_gk', 'team_score', 'win_lose',
       'match_no', 'home_away'],
      dtype='object')

In [155]:
df_away.columns

Index(['country_name', 'penalty_score', 'player_gk', 'team_score', 'win_lose',
       'match_no', 'home_away'],
      dtype='object')

In [156]:
df_home.columns == df_away.columns

array([ True,  True,  True,  True,  True,  True,  True])

### 4. 두 dataframe 합치기

In [157]:
df_match_team = pd.concat([df_home, df_away], axis=0)
df_match_team.shape # 51 * 2 = 102

(102, 7)

In [158]:
df_match_team.head()

,country_name,penalty_score,player_gk,team_score,win_lose,match_no,home_away
0,France,NaN,160140,2,win,1,home
1,Belgium,NaN,160047,0,lose,10,home
2,Austria,NaN,160024,0,lose,11,home
3,Iceland,NaN,160208,1,drawn,12,home
4,Russia,NaN,160369,1,lose,13,home

### 5. Country Table

In [159]:
df_country = df_match_team[['country_name']]
df_country.head()

  country_name
0       France
1      Belgium
2      Austria
3      Iceland
4       Russia

In [160]:
df_country.shape

(102, 1)

In [161]:
df_country.country_name.unique()
len(df_country.country_name.unique())

24

In [162]:
df_country.drop_duplicates(inplace=True) # 중복 제거
df_country = df_country.reset_index(drop=True) # 중복제거로 인해 섞여버린 인덱스 reset
df_country['country_id'] = df_country.index
df_country

C:\Users\DS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

           country_name  country_id
0                France           0
1               Belgium           1
2               Austria           2
3               Iceland           3
4                Russia           4
5           Switzerland           5
6               England           6
7               Ukraine           7
8                Poland           8
9                 Italy           9
10              Albania          10
11              Croatia          11
12                Spain          12
13             Portugal          13
14              Romania          14
15                Wales          15
16     Northern Ireland          16
17       Czech Republic          17
18              Hungary          18
19               Sweden          19
20              Germany          20
21               Turkey          21
22             Slovakia          22
23  Republic of Ireland          23

In [163]:
df_country.country_name.str.len().max()

19

In [164]:
import pandas.io.sql as sql
from sqlalchemy import create_engine
import sqlalchemy as sc

In [165]:
engine = create_engine('mysql+pymysql://ds2rdb:ds2ds2@localhost:3306/euro_match',
                      encoding='utf-8')
con = engine.connect()
con.execution_options(autocommit=True)

In [166]:
df_country.to_sql('country', con, if_exists='replace', index=False,
               dtype={'country_id': sc.types.INTEGER(),
                     'country_name': sc.types.VARCHAR(length=20)})

In [167]:
con.execute('alter table country add primary key (country_id);')

### 6. country_name -> country_id로 변환

In [168]:
df_team = pd.merge(df_match_team, df_country, on='country_name')
df_team.head()

,country_name,penalty_score,player_gk,team_score,win_lose,match_no,home_away,country_id
0,France,NaN,160140,2,win,1,home,0
1,France,NaN,160140,2,win,15,home,0
2,France,NaN,160140,2,win,40,home,0
3,France,NaN,160140,5,win,48,home,0
4,France,NaN,160140,2,win,50,home,0

In [169]:
df_team.shape

(102, 8)

### 7. 불필요한 컬럼 제거

In [170]:
df_team = df_team.drop(['country_name'], axis=1) # country_name은 필요없음
df_team.head()

,penalty_score,player_gk,team_score,win_lose,match_no,home_away,country_id
0,NaN,160140,2,win,1,home,0
1,NaN,160140,2,win,15,home,0
2,NaN,160140,2,win,40,home,0
3,NaN,160140,5,win,48,home,0
4,NaN,160140,2,win,50,home,0

In [171]:
df_team.columns

Index(['penalty_score', 'player_gk', 'team_score', 'win_lose', 'match_no',
       'home_away', 'country_id'],
      dtype='object')

In [172]:
df_team.to_sql('team_records', con, if_exists='replace', index=False,
               dtype={'country_id': sc.types.INTEGER(),
                      'penalty_score': sc.types.INTEGER(),
                     'player_gk': sc.types.INTEGER(),
                     'team_score': sc.types.INTEGER(), 
                     'win_lose': sc.types.VARCHAR(length=10),                      
                     'match_no' : sc.types.INTEGER(),
                     'home_away': sc.types.VARCHAR(length=5)})

In [173]:
# from sqlalchemy.types improt * ==> sc.types.INTEGER() 대신 INTEGER()만 치면 됨

In [174]:
# primary key 주어진 match_no에 country_id에 따라서 나머지 값들이 정의된다.

In [175]:
con.execute('alter table team_records add foreign key (country_id) references country(country_id);')

In [176]:
con.execute('alter table team_records add foreign key (match_no) references games(match_no);')

In [177]:
con.execute('alter table team_records add primary key (match_no, country_id);')

In [178]:
## games 테이블 plr_of_match -> references players (player_id) 
# foreign key 추가

In [179]:
con.execute('alter table games add foreign key (plr_of_match) references players(player_id);')