In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient()

In [3]:
db = client.lab5

In [4]:
col = db.posts

In [5]:
col.insert({'name':'Lee', 'content':"Hello I'm Lee", 'tags':['hello', 'greet']})

c:\users\ds\pycharmprojects\ds2\venv\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

ObjectId('5d66066c037dbba8fe216bd9')

In [6]:
list(col.find())

[{'_id': ObjectId('5d66066c037dbba8fe216bd9'),
  'name': 'Lee',
  'content': "Hello I'm Lee",
  'tags': ['hello', 'greet']}]

In [8]:
col.update_one({'name':'Lee'},{'$set':{'comments':[{'name':'Kim', 'content':'Good posts', 'like':0}]}})

In [9]:
list(col.find())

[{'_id': ObjectId('5d66066c037dbba8fe216bd9'),
  'name': 'Lee',
  'content': "Hello I'm Lee",
  'tags': ['hello', 'greet'],
  'comments': [{'name': 'Kim', 'content': 'Good posts', 'like': 0}]}]

In [12]:
a= [{'name' : 'Choi', 'content' : 'How is it going?', 'like' : 1},
{'name' : 'David', 'content' : "I’m David, What’s up?", 'like' : 2},
{'name' : 'Kim', 'content' : 'Glad to hear that', 'like' : 3}]

In [16]:
col.update_one({'name':"Lee"},{'$push':{'comments':{'$each':a}}})

In [17]:
list(col.find())

[{'_id': ObjectId('5d66066c037dbba8fe216bd9'),
  'name': 'Lee',
  'content': "Hello I'm Lee",
  'tags': ['hello', 'greet'],
  'comments': [{'name': 'Kim', 'content': 'Good posts', 'like': 0},
   {'name': 'Choi', 'content': 'How is it going?', 'like': 1},
   {'name': 'David', 'content': 'I’m David, What’s up?', 'like': 2},
   {'name': 'Kim', 'content': 'Glad to hear that', 'like': 3}]}]

In [20]:
col.update_one({'name':'Lee'},{'$set':{'comments.1.like':2}})

In [29]:
list(col.find())

[{'_id': ObjectId('5d66066c037dbba8fe216bd9'),
  'name': 'Lee',
  'content': "Hello I'm Lee",
  'tags': ['hello', 'greet'],
  'comments': [{'name': 'Kim', 'content': 'Good posts', 'like': 5},
   {'name': 'Choi', 'content': 'How is it going?', 'like': 2},
   {'name': 'David', 'content': 'I’m David, What’s up?', 'like': 2},
   {'name': 'Kim', 'content': 'Glad to hear that', 'like': 3}]}]

In [35]:
col.update_one({'name':'Lee', 'comments.name':'Kim'},{'$set':{'comments.$.like':5}})

In [36]:
list(col.find())

[{'_id': ObjectId('5d66066c037dbba8fe216bd9'),
  'name': 'Lee',
  'content': "Hello I'm Lee",
  'tags': ['hello', 'greet'],
  'comments': [{'name': 'Kim', 'content': 'Good posts', 'like': 5},
   {'name': 'Choi', 'content': 'How is it going?', 'like': 2},
   {'name': 'David', 'content': 'I’m David, What’s up?', 'like': 2},
   {'name': 'Kim', 'content': 'Glad to hear that', 'like': 3}]}]

In [37]:
col.update_one({'name':'Lee'}, {'$pop':{'comments':1}})

In [38]:
list(col.find())

[{'_id': ObjectId('5d66066c037dbba8fe216bd9'),
  'name': 'Lee',
  'content': "Hello I'm Lee",
  'tags': ['hello', 'greet'],
  'comments': [{'name': 'Kim', 'content': 'Good posts', 'like': 5},
   {'name': 'Choi', 'content': 'How is it going?', 'like': 2},
   {'name': 'David', 'content': 'I’m David, What’s up?', 'like': 2}]}]

In [42]:
col.update_one({'name':'Lee'},{'$pull':{'comments':{'name':'Choi'}}})

In [43]:
list(col.find())

[{'_id': ObjectId('5d66066c037dbba8fe216bd9'),
  'name': 'Lee',
  'content': "Hello I'm Lee",
  'tags': ['hello', 'greet'],
  'comments': [{'name': 'Kim', 'content': 'Good posts', 'like': 5},
   {'name': 'David', 'content': 'I’m David, What’s up?', 'like': 2}]}]

In [46]:
col.update_one({'name':'Lee'},{'$unset':{'content':1}})

In [47]:
list(col.find())

[{'_id': ObjectId('5d66066c037dbba8fe216bd9'),
  'name': 'Lee',
  'tags': ['hello', 'greet'],
  'comments': [{'name': 'Kim', 'content': 'Good posts', 'like': 5},
   {'name': 'David', 'content': 'I’m David, What’s up?', 'like': 2}]}]

## Exercise 2

In [48]:
!mongoimport /d lab5 /c people datasets-master/people.json

2019-08-28T14:59:33.714+0900	connected to: mongodb://localhost/
2019-08-28T14:59:33.799+0900	4 document(s) imported successfully. 0 document(s) failed to import.

In [50]:
db = client.lab5

In [51]:
col = db.people

In [53]:
col.find_one()

{'_id': ObjectId('5d6618454e321ff2c2e0ffee'),
 'name': 'Kim',
 'age': 18,
 'profile': "Hello I'm Kim"}

In [55]:
list(col.find({'age':{'$lt':22}}))

[{'_id': ObjectId('5d6618454e321ff2c2e0ffee'),
  'name': 'Kim',
  'age': 18,
  'profile': "Hello I'm Kim"}]

In [56]:
list(col.find({'age':{'$gte':22, '$lte':26}}))

[{'_id': ObjectId('5d6618454e321ff2c2e0ffef'),
  'name': 'Park',
  'age': 26,
  'profile': "Hello I'm Park"},
 {'_id': ObjectId('5d6618454e321ff2c2e0fff0'),
  'name': 'Lee',
  'age': 22,
  'profile': "Hello I'm Lee"},
 {'_id': ObjectId('5d6618454e321ff2c2e0fff1'),
  'name': 'Jung',
  'age': 22,
  'profile': "Hello I'm Jung"}]

In [58]:
list(col.find({'name':'Lee'},{'profile':0}))

[{'_id': ObjectId('5d6618454e321ff2c2e0fff0'), 'name': 'Lee', 'age': 22}]

In [61]:
list(col.find({'name':{'$ne':'Lee'}}))

[{'_id': ObjectId('5d6618454e321ff2c2e0ffee'),
  'name': 'Kim',
  'age': 18,
  'profile': "Hello I'm Kim"},
 {'_id': ObjectId('5d6618454e321ff2c2e0ffef'),
  'name': 'Park',
  'age': 26,
  'profile': "Hello I'm Park"},
 {'_id': ObjectId('5d6618454e321ff2c2e0fff1'),
  'name': 'Jung',
  'age': 22,
  'profile': "Hello I'm Jung"}]

In [66]:
list(col.find({'$or':[{'name':'Lee'},{'name':'Park'}]}))

[{'_id': ObjectId('5d6618454e321ff2c2e0ffef'),
  'name': 'Park',
  'age': 26,
  'profile': "Hello I'm Park"},
 {'_id': ObjectId('5d6618454e321ff2c2e0fff0'),
  'name': 'Lee',
  'age': 22,
  'profile': "Hello I'm Lee"}]

In [68]:
list(col.find({'$and':[{'name':{'$ne':'Kim'}}, {'name':{'$ne':'Park'}}, {'name':{'$ne':'Lee'}}]}))

[{'_id': ObjectId('5d6618454e321ff2c2e0fff1'),
  'name': 'Jung',
  'age': 22,
  'profile': "Hello I'm Jung"}]

In [69]:
list(col.find({'name':{'$nin':['Kim','Park', 'Lee']}}))

[{'_id': ObjectId('5d6618454e321ff2c2e0fff1'),
  'name': 'Jung',
  'age': 22,
  'profile': "Hello I'm Jung"}]

## Exercise 3

In [70]:
!mongoimport /d lab5 /c inventory datasets-master/inventory.json

2019-08-28T15:29:04.413+0900	connected to: mongodb://localhost/
2019-08-28T15:29:04.504+0900	4 document(s) imported successfully. 0 document(s) failed to import.

In [72]:
db = client.lab5

In [73]:
col = db.inventory

In [74]:
col.find_one()

{'_id': 7,
 'code': 'efg',
 'tags': ['school', 'book'],
 'qty': [{'size': 'S', 'num': 10, 'color': 'blue'},
  {'size': 'M', 'num': 100, 'color': 'blue'},
  {'size': 'L', 'num': 100, 'color': 'green'}]}

In [76]:
list(col.find({'tags':{'$all':['appliance', 'school', 'book']}}))

[{'_id': 6,
  'code': 'abc',
  'tags': ['appliance', 'school', 'book'],
  'qty': [{'size': '6', 'num': 100, 'color': 'green'},
   {'size': '6', 'num': 50, 'color': 'blue'},
   {'size': '8', 'num': 100, 'color': 'brown'}]},
 {'_id': 5,
  'code': 'xyz',
  'tags': ['school', 'book', 'bag', 'headphone', 'appliance'],
  'qty': [{'size': 'S', 'num': 10, 'color': 'blue'},
   {'size': 'M', 'num': 45, 'color': 'blue'},
   {'size': 'L', 'num': 100, 'color': 'green'}]}]

In [77]:
list(col.find({},{'tags':{'$slice':3}}))

[{'_id': 7,
  'code': 'efg',
  'tags': ['school', 'book'],
  'qty': [{'size': 'S', 'num': 10, 'color': 'blue'},
   {'size': 'M', 'num': 100, 'color': 'blue'},
   {'size': 'L', 'num': 100, 'color': 'green'}]},
 {'_id': 8,
  'code': 'ijk',
  'tags': ['electronics', 'school'],
  'qty': [{'size': 'M', 'num': 100, 'color': 'green'}]},
 {'_id': 6,
  'code': 'abc',
  'tags': ['appliance', 'school', 'book'],
  'qty': [{'size': '6', 'num': 100, 'color': 'green'},
   {'size': '6', 'num': 50, 'color': 'blue'},
   {'size': '8', 'num': 100, 'color': 'brown'}]},
 {'_id': 5,
  'code': 'xyz',
  'tags': ['school', 'book', 'bag'],
  'qty': [{'size': 'S', 'num': 10, 'color': 'blue'},
   {'size': 'M', 'num': 45, 'color': 'blue'},
   {'size': 'L', 'num': 100, 'color': 'green'}]}]

In [78]:
list(col.find({},{'tags':{'$slice':[1,3]}}))

[{'_id': 7,
  'code': 'efg',
  'tags': ['book'],
  'qty': [{'size': 'S', 'num': 10, 'color': 'blue'},
   {'size': 'M', 'num': 100, 'color': 'blue'},
   {'size': 'L', 'num': 100, 'color': 'green'}]},
 {'_id': 8,
  'code': 'ijk',
  'tags': ['school'],
  'qty': [{'size': 'M', 'num': 100, 'color': 'green'}]},
 {'_id': 6,
  'code': 'abc',
  'tags': ['school', 'book'],
  'qty': [{'size': '6', 'num': 100, 'color': 'green'},
   {'size': '6', 'num': 50, 'color': 'blue'},
   {'size': '8', 'num': 100, 'color': 'brown'}]},
 {'_id': 5,
  'code': 'xyz',
  'tags': ['book', 'bag', 'headphone'],
  'qty': [{'size': 'S', 'num': 10, 'color': 'blue'},
   {'size': 'M', 'num': 45, 'color': 'blue'},
   {'size': 'L', 'num': 100, 'color': 'green'}]}]

## Exercise 4

In [79]:
!mongoimport /d lab5 /c store datasets-master/store.json

2019-08-28T16:08:04.051+0900	connected to: mongodb://localhost/
2019-08-28T16:08:04.138+0900	5 document(s) imported successfully. 0 document(s) failed to import.

In [80]:
db = client.lab5
col = db.store
col.find_one()

{'_id': ObjectId('5d6628540b979e744b0642ef'),
 'buyer': {'name': 'J.S. Lee', 'method': 'credit'},
 'items': [{'name': 'Apple Watch Series 4',
   'attribute': {'type': 'Silver Aluminum Case with White Sport Band',
    'size': '44mm',
    'connectivity': 'GPS + Cellular',
    'carrier': 'T Mobile'},
   'price': 529}]}

In [82]:
list(col.find({'buyer.name':'J.S. Lee'}))

[{'_id': ObjectId('5d6628540b979e744b0642ef'),
  'buyer': {'name': 'J.S. Lee', 'method': 'credit'},
  'items': [{'name': 'Apple Watch Series 4',
    'attribute': {'type': 'Silver Aluminum Case with White Sport Band',
     'size': '44mm',
     'connectivity': 'GPS + Cellular',
     'carrier': 'T Mobile'},
    'price': 529}]}]

In [83]:
list(col.find({'items.name':'iPhone Xs'}))

[{'_id': ObjectId('5d6628540b979e744b0642f0'),
  'buyer': {'name': 'S.J. Kim', 'method': 'cash'},
  'items': [{'name': 'Apple Watch Series 4',
    'attribute': {'type': 'Silver Aluminum Case with White Sport Band',
     'size': '40mm',
     'connectivity': 'GPS'},
    'price': 399},
   {'name': 'iPhone Xs',
    'attribute': {'type': 'Space Gray', 'capacity': '64GB', 'carrier': 'AT&T'},
    'price': 999}]},
 {'_id': ObjectId('5d6628540b979e744b0642f1'),
  'buyer': {'name': 'M.K. Koo', 'method': 'credit'},
  'items': [{'name': 'Apple Watch Series 4',
    'attribute': {'type': 'Silver Aluminum Case with White Sport Band',
     'size': '44mm',
     'connectivity': 'GPS + Cellular',
     'carrier': 'Sprint'},
    'price': 529},
   {'name': 'iPhone Xs',
    'attribute': {'type': 'Space Gray', 'capacity': '256GB'},
    'price': 1149}]}]

In [87]:
list(col.find({'items.price':{'$gt':2000}},{'buyer.method':1, '_id':0}))

[{'buyer': {'method': 'cash'}}]

In [101]:
list(col.find({'items':{'$elemMatch':{'name':'Apple Watch Series 4', 'attribute.carrier':{'$exists':False}}}}))

[{'_id': ObjectId('5d6628540b979e744b0642f0'),
  'buyer': {'name': 'S.J. Kim', 'method': 'cash'},
  'items': [{'name': 'Apple Watch Series 4',
    'attribute': {'type': 'Silver Aluminum Case with White Sport Band',
     'size': '40mm',
     'connectivity': 'GPS'},
    'price': 399},
   {'name': 'iPhone Xs',
    'attribute': {'type': 'Space Gray', 'capacity': '64GB', 'carrier': 'AT&T'},
    'price': 999}]}]

In [100]:
list(col.find({},{'buyer':1, '_id':0}).limit(3))

[{'buyer': {'name': 'J.S. Lee', 'method': 'credit'}},
 {'buyer': {'name': 'S.J. Kim', 'method': 'cash'}},
 {'buyer': {'name': 'M.K. Koo', 'method': 'credit'}}]

In [98]:
col.find_one()

{'_id': ObjectId('5d6628540b979e744b0642ef'),
 'buyer': {'name': 'J.S. Lee', 'method': 'credit'},
 'items': [{'name': 'Apple Watch Series 4',
   'attribute': {'type': 'Silver Aluminum Case with White Sport Band',
    'size': '44mm',
    'connectivity': 'GPS + Cellular',
    'carrier': 'T Mobile'},
   'price': 529}]}