In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient()

In [3]:
client.list_database_names()

['admin', 'config', 'local', 'test']

In [4]:
db = client.test_database

In [11]:
db.list_collection_names()

[]

In [6]:
collection = db.test_collection

In [8]:
db.create_collection('test_collection')

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'test_collection')

In [10]:
db.test_collection.drop()

In [12]:
client.drop_database('test_database')

In [14]:
import datetime
post = {
"author": "Mike",
"text": "My first blog post!",
"tags": ["MongoDB", "Python", "PyMongo"],
"date":
datetime.datetime.utcnow()
         }

In [15]:
post

{'author': 'Mike',
 'text': 'My first blog post!',
 'tags': ['MongoDB', 'Python', 'PyMongo'],
 'date': datetime.datetime(2019, 8, 23, 2, 51, 56, 486356)}

In [16]:
db = client.lab2

In [17]:
coll = db.pypeople

In [21]:
coll.insert_one({'name':'Jisu', 'age':24})

In [22]:
list(coll.find_one())

['_id', 'name', 'age']

In [23]:
coll.find_one()

{'_id': ObjectId('5d5f56012ac451a67f1e3f3e'), 'name': 'Jisu', 'age': 24}

In [25]:
coll.insert_many([{'name':'Daeyoung', 'age':51}, {'name':'Youngjin', 'age':24}])

In [26]:
coll.find()

In [34]:
list(coll.find())

[{'_id': ObjectId('5d5f56b92ac451a67f1e3f3f'),
  'name': 'Daeyoung',
  'age': 51,
  'location': 'Seoul'}]

In [28]:
coll.update_one({'name':'Daeyoung'},{'$set':{'location':'Seoul'}})

In [31]:
coll.update_many({'age':24},{'$set':{'location':'Suwon'}})

In [33]:
coll.delete_many({'location':'Suwon'})

In [35]:
coll = db.imdb

In [39]:
coll.insert_one({'Movie Title':'Avengers:Infinity War',
                'Director':'Anthony Russo and Joe Russo',
                'Genre':'Action, Adventure, Drama',
                'score':8.6})

In [40]:
coll.find_one()

{'_id': ObjectId('5d5f5ae72ac451a67f1e3f41'),
 'Movie Title': 'Avengers:Infinity War',
 'Director': 'Anthony Russo and Joe Russo',
 'Genre': 'Action, Adventure, Drama',
 'score': 8.6}